*{
    margin:0;
    padding:0;
}

/* ul li:first-of-type{
    color: red;
}
ul li:last-of-type{
    color: green;
} */

/* p:first-of-type{
    color: green;
} */
/* p:last-of-type{
    color: green;
} */

/* p:nth-of-type(1), p:nth-of-type(2){
    color: green;
} */


/* p:not(.noStyle){
    color:red;
}
ul li:not(li:first-of-type){
    color:red;
} */



/* input[type="text"]{
    background-color:green;
} */
/* input:disabled{
    background-color:red;
} */
/* input:enabled{
    background-color:green;
} */


input{
  /* visibility: hidden; */
}
/* input:checked ~ .check{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color:red;
} */


/* input::placeholder{
color:#111;
font-size: 11px;
} */

/* input[type="number"]{
    border: 3px solid red;
    outline: none;
}

input[type="number"]:in-range{
    border: 3px solid green;
    outline: none;
} */




p::first-letter{
    font-size: 2rem;
    color: green;
}
p::first-line{
    color: green;
}