*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    padding:2rem;
}
/* 
.box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:400px;
    height: 400px;
    border: 3px solid #111;
    border-radius: 50%;
}

.box::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    border-radius: 50%;
    border: 3px solid #000;

}
.box::after{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 3px solid #000;
} */





/* FOR MENU */

/* 
.box{
    width:30px;
    height:3px;
    border-radius: 5px;
    background-color: #111;
    position:absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.box::before{
    content: "";
    width:30px;
    height:3px;
    border-radius: 5px;
    background-color: #111;
    position:absolute;
    top:-8px;
    left:0;
}
.box::after{
    content: "";
    width:30px;
    height:3px;
    border-radius: 5px;
    background-color: #111;
    position:absolute;
    bottom:-8px;
    right:0;
} */

/* 

table{
width:100%;
text-align: center;
border-collapse: collapse;
background-color: #111;
}
table tr th{
    padding: 15px;
    color:#fff;
    font-size: 18px;
    background-color:rgb(26, 5, 42);
}
table tr td{
    padding: 15px;
    font-family: sans-serif;
    color:#fff;
}
table tr:nth-child(even){
  background-color:#99999933
}
table tr:hover{
  background-color:#444;
  color: #fff;
}
 */


 /* .content{
    width: 400px;
    height:200px;
    border: 1px solid #222;
    margin-bottom: 20px;
    padding:50px;
 }


 .content2{
    width: 400px;
    border: 1px solid #222;
    margin-bottom: 20px;
    padding: 50px;
    box-sizing: content-box;
 } */





 .image{
   max-width: 200px; 
   width: 100%;
   height: 200px;
   position: relative;
   background-color: #000;
   border-radius: 50%;
   /* border-radius: 10px; */
   border: 2px solid #555;
   overflow: hidden;
   box-shadow: 10px 10px 20px rgba(0,0,0,.3);
}
.image img{
    position: absolute;
    /* border-radius: 50%; */
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit: cover;
 }