@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+QLD+Beginner:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
   margin : 0;
   padding: 0;
}

body {
   width   : 100%;
   height  : 100vh;
   position: relative;
}

.conatiner {
   width       : 100%;
   height      : 100%;
   background  : #222;
   position    : absolute;
   top         : 0;
   left        : 0;
   /* top      :300px; */
   /* transform:translateX(400PX); */
   /* transform:translateY(100PX); */
}

/* .box{
   width: 200px;
   height: 200px;
   background:green;
   position:absolute; */

/* top: 0; */
/* bottom:0; */
/* top: 50%;
   left: 50%;
   transform: translate(-50%,-50%); */



/* right:0; */
/* top: 50%;
   right: 0;
   transform: translate(0,-50%); */


/* left:0; */
/* right: 0; */
/* top: 0; */
/* bottom:0; */

/* bottom: 0; */
/* } */

.box {
   width     : 100px;
   height    : 100px;
   background: green;
   position  : absolute;
}

.box2 {
   top      : 0;
   left     : 50%;
   transform: translateX(-50%)
}

.box3 {
   top  : 0;
   right: 0;
}

.box4 {
   top: 50%;
   transform: translateY(-50%);
   left: 0;
}
.box5 {
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}
.box6 {
   top: 50%;
   right: 0;
   transform: translateY(-50%);
}
.box7 {
   bottom:0;
  left: 0;
}
.box8 {
   bottom:0;
  left: 50%;
  transform: translateX(-50%)
}

.box9 {
   bottom:0;
  right: 0;
}