*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

.wrapper{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    max-width: 500px;
    width: 100%;
    box-shadow:  5px 8px 20px rgba(0,0,0,.15);
    padding:2rem;
    border-top: 3px solid #c70334;
    border-bottom: 3px solid #c70334;
}
h1{
    text-align: center;
    color: #c70334
}

.fields{
    margin-top: 2rem;
    width: 100%;
}

.input_group{
    width: 100%;
    margin-bottom: 25px;
}
.input_group input{
    width: 100%;
    height:45px;
    padding:0 15px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #99999977;
}

.input_group input.error {
    border-color: red;
}
.input_group input.success {
    border-color: green;
}

.input_group span{
    margin-top: 8px;
    display: none;
}
.input_group span.error{
    color: red;
    display: block;

}

#msg{
    font-size: 1.2rem;
    color: #fff;
    background-color: #c70334;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:10px 0;
    display: none;
    width: 100%;
}

.input_group #submitBtn{
    width: 100%;
    height:45px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 1.5rem;
    background-color:#c70334;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}